/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/*CSS for the Web Development Learning Area */

body {
  font-family: 'Noto Sans', sans-serif;
  line-height: 0.5;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 0px;
}

div {
  width: 90%;
  max-width: 1200px;
  background: #fff;
  margin: 10px auto;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

p {
  color: #666;
  line-height: 1.8;
  margin-bottom: 20px;
}

a {
  color: #0073e6;
  text-decoration: underline;
}
  
a:hover {
  text-decoration: none;
}

/* Additional spacing for better readability */
p:last-of-type {
  margin-bottom: 0;
}
